
body {
	font-family: 'Roboto Slab', serif;
	height: 100%;
}

.container {
	box-shadow: 0 0 5px 5px #888888;
	background-color: #EEEEEE
}

#page-header {
	height: 200px;
	background-color: #152737;
}

#main-name {
	font-style: italic;
	font-size: 33px;
	font-weight: bold;
	color: white;
	margin-top: 120px;
	text-align: right;
}

#profile-photo-container {
	margin: 0 auto;
	margin-top: 80px;
	height: 150px;
	width: 150px;
	border: 2px solid #424242;
	border-radius: 50%;
	background-repeat: no-repeat;
    background-position: 50%;
	background-image: url('img/photo.jpg');
	background-size: auto 100%;
	box-shadow: 0 0 1px 1px #888888;
}

#info {
	height: 200px;
	background-color: #0F9FB4;
}

.panel-title {
	font-size: 22px;
	text-transform: uppercase;
	font-style: italic;
}

.main-info {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}

#main-info-container {
	margin-left: 20px;
	margin-top: 10px;
	background-color: #0B717F;
}

#main-info-head {
	font-size: 20px;
	font-weight: bold;
}

.collapse-head {
	font-size: 20px;
	font-weight: bold;
}

.chart rect {
	margin: 5px;
	padding: 5px;
}

.my-tab-icon {
	padding-right: 7px;
}

.nav-tabs {
	margin-bottom: 20px;
}

#tab-area {
	background-color: white;
}

.my-tab-content {
	padding: 20px;
}

#tooltip {
    margin-left: 31%;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #0F9FB4;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    visibility: hidden;
}

#pie-container p {
	text-align: center;
	font-size: 16px;
}

#brand-container p {
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 50px;
}

#separator {
	margin: 0 auto;
	width: 80%;
	height: 4px;
	background-color: #BEBEBE;
	margin-top: 20px;
	margin-bottom: 40px;
}

#sub-header {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 35px;
}

#vis p {
	font-size: 20px;
	text-align: center;
	padding-bottom: 40px;
}

.demographics-header {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 30px;
}

.data-key {
	text-align: right;
}

.data-value {
	text-align: left;
}

#basic-description {
	margin-top: 15px;
	padding-left: 15px;
	font-size: 18px;
}

#analysis-title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#analysis-text {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.panel-group {
	padding-top: 40px;
}

