<div class='container' ng-controller="MainController as main">
	<div class='row' id='page-header'>
		<div class='col-md-12'>
			<div id='profile-photo-container'></div>
		</div>	
	</div>

	<accordion close-others="false" >

		<accordion-group is-open="main.basicIsOpen">
			<accordion-heading ng-click="main.basicIsOpen=!main.basicIsOpen">
				<span class="collapse-head">User Information</span>
				<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.basicIsOpen, 'glyphicon-chevron-right': !main.basicIsOpen}"></i>
			</accordion-heading>
			<div id="#basic">
				<div class="main-info">Name: {{ main.data.firstName + " " + main.data.lastName }}</div>
				<div class="main-info">Email: {{ main.data.email }} </div>
				<div class="main-info">Phone number: {{ main.data.phone }}</div>
			</div>
		</accordion-group>

		<accordion-group is-open="main.analysisIsOpen">
			<accordion-heading ng-click="main.analysisIsOpen=!main.analysisIsOpen">
				<span class="collapse-head">Profile Analysis</span>
				<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.analysisIsOpen, 'glyphicon-chevron-right': !main.analysisIsOpen}"></i>
			</accordion-heading>
			<div id="analysis">
				<h2>Socializer</h2>
				<p>
					You are the hub of social scenes and people count on you to find out what’s happening. You are quick to connect people and readily share your social savvy. Your followers appreciate your network and generosity.
				</p>
			</div>
		</accordion-group>

		<!-- <accordion-group is-open="main.demographicsIsOpen">
			<accordion-heading ng-click="main.demographicsIsOpen=!main.demographicsIsOpen">
				<span class="collapse-head">Demographics</span>
				<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.demographicsIsOpen, 'glyphicon-chevron-right': !main.demographicsIsOpen}"></i>
			</accordion-heading>
			<div id="demographics">
				<span>Location: {{ main.data.location }}</span><br/>
			 	<span>Nationality: {{ main.data.nationality }}</span><br/>
				<span>
					Previous Locations: 
					<span ng-repeat="place in main.data.previousLocations">
						{{ place }} 
						<span ng-if="!$last">{{","}}</span>
						<span ng-if="$last">.</span>
					</span> 
				</span><br/>
				<span>Age: {{ main.data.age }} </span><br/>
				<span>Sex: {{ main.data.sex }} </span><br/>
				<span>Relationship / Marital Status: {{ main.data.maritalStatus }} </span><br/>
				<span>Education Level: {{ main.data.education }} </span><br/>
				<span>Employment status: {{ main.data.employmentStatus }} </span><br/>
				<span>Job Title: {{ main.data.job }} </span><br/>
			</div>
		</accordion-group>

		<accordion-group is-open="main.visualisationIsOpen">
			<accordion-heading ng-click="main.visualisationIsOpen=!main.visualisationIsOpen ; main.showViz()">
				<span class="collapse-head">Interests</span>
				<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': main.visualisationIsOpen, 'glyphicon-chevron-right': !main.visualisationIsOpen}"></i>
			</accordion-heading>
			<div id="visualisation">
				<div id='vis'>
					<p>
						Level of interest for each category.
						Click on category to delve deeper.

						<br/>
						{{main.barData}} <br/>
						{{ main.subCategories }} <br/>
						{{main.brands}} <br/>
					</p>

					<div barchart class='ng-hide' data='main.barData' id='bar'></div>
					<div piechart class='ng-hide' data='main.subCategories' id='pie'></div>
					<div brandchart class='ng-hide' data='main.brands' id='brands'></div>
				</div>
			</div>
		</accordion-group> -->

	</accordion>

	<tabset justified="true" id="tab-area">
		<tab>
			<tab-heading>
				<i class="glyphicon glyphicon-user my-tab-icon"></i>
				Demographics
			</tab-heading>
			<div class="my-tab-content">
				<span>Location: {{ main.data.location }}</span><br/>
			 	<span>Nationality: {{ main.data.nationality }}</span><br/>
				<span>
					Previous Locations: 
					<span ng-repeat="place in main.data.previousLocations">
						{{ place }} 
						<span ng-if="!$last">{{","}}</span>
						<span ng-if="$last">.</span>
					</span> 
				</span><br/>
				<span>Age: {{ main.data.age }} </span><br/>
				<span>Sex: {{ main.data.sex }} </span><br/>
				<span>Relationship / Marital Status: {{ main.data.maritalStatus }} </span><br/>
				<span>Education Level: {{ main.data.education }} </span><br/>
				<span>Employment status: {{ main.data.employmentStatus }} </span><br/>
				<span>Job Title: {{ main.data.job }} </span><br/>
			</div>
		</tab>

		<tab>
			<tab-heading ng-click="main.showViz()">
				<i class="glyphicon glyphicon-object-align-bottom my-tab-icon"></i>
				Interests
			</tab-heading>
			<div id='vis' class="my-tab-content row">
				<p>
					Level of interest for each category.
					Click on category to delve deeper.

					<br/>
					{{main.barData}} <br/>
					{{ main.subCategories }} <br/>
					{{main.brands}} <br/>
				</p>

				<div barchart class='ng-hide' data='main.barData' id='bar'></div>
				<div id="separator"></div>

				<div id="pie-container" class="ng-hide col-xs-12 col-md-6">
					<p>
						Hover over chart to see subcategories. <br/>
						Click on chart to see brand distribution for subcategories.
					</p>
					<div id="tooltip"></div>
					<div piechart data='main.subCategories' id='pie'></div>
				</div>
				
				<div id="brand-container" class='ng-hide col-xs-12 col-md-6'>
					<p>
						Top 5 brands the user is positively predisposed to for this category.
					</p>
					<div brandchart data='main.brands' id='brands'></div>
				</div>
				
			</div>
		</tab>
	</tabset>

</div>